.profile-container {
  max-width: calc(100% - 20px);
  background: #fff;
  border-radius: 25px;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.profile-container h2 {
  margin-bottom: 20px;
  font-weight: 700;
  color: #a200ff;
  font-size: 28px;
  margin-top: 0px;

}

.profile-container p {
  font-size: 16px;
  margin: 10px;
}


.logout-btn {
  width: calc(100% - 20px);  /* fills almost full width */
  font-size: 16px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background-color: #d9534f; /* danger red */
  font-weight: bold;
}

.profile-cards-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 100px;

}
.profile-card-button {
  width: calc(100% - 20px);
  margin: 0 10px;
  background: #f5f5f5;
  border-radius: 25px;
  padding: 10px;
  gap: 20PX;
  text-align: left;
  min-height: 60px;
  display: flex;
  flex-direction: row;         /* row to place emoji and h3 side by side */
  align-items: center;         /* center vertically */
  justify-content: flex-start; /* left align content */
}

.emoji-square {
  width: 48px;
  height: 48px;
  background: #dfe0d7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;   /* smaller emoji */
  padding: 0px;        /* bigger padding inside the square */
}

.profile-card-button h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

/* Remove blue highlight on tap/click for WebKit browsers */
.profile-container,
.profile-card-button,
.emoji-square,
.logout-btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}