.customer-orders-container {
  max-width: 700px;
  margin: 40px auto;
  background-color: rgb(194, 155, 155);
  padding: 20px;
  border-radius: 20px;
}

.customer-orders-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.customer-orders-backlink {
  color: #007bff;
  text-decoration: underline;
  margin-bottom: 18px;
  display: inline-block;
}

.customer-orders-list {
  padding-left: 0;
}

.customer-orders-listitem {
  margin-bottom: 10px;
  list-style: none;
  border: 1px solid #eee;
  border-radius: 25px;
  padding: 20px;
  background: #fafbfc;
}

.customer-orders-togglebtn {
  background: none;
  border: none;
  color: #007bff;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  text-align: left;
  width: 100%;
}

.refunded-item {
  text-decoration: line-through;
  color: #888;
  border-radius: 6px;
  padding: 6px;
}

.refunded-label {
  background: #ff5100;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 4px 12px;
  font-size: 13px;
  
}

.refunded-order {
  background: #4caf50 !important;
  color: #fff !important;
  cursor: not-allowed;
  border: none;
}

.refund-btn {
  background: #ff9800;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 4px 12px;
  cursor: pointer;
  font-family: 'Poppins';

 
}
.refund-btn:hover:enabled {
  background: #fb8c00;
}

.capture-btn {
  background: #2196f3;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 4px 12px;
  cursor: pointer;
  font-family: 'Poppins';
}

.capture-btn:hover:enabled {
  background: #1976d2;
}

.captured-order {
  background: #4caf50 !important;
  color: #fff !important;
  cursor: not-allowed;
  border: none;
}

.customer-orders-products {
  padding-left: 0;
  margin: 0;
}

.customer-orders-products li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  padding: 2px 0;
}

